@import '~normalize.css';
@import '~leaflet/dist/leaflet.css';
.showPlaceBoard {
    display: flex;
    flex-direction: column;
}

.showPlaceBoardImage {
    max-width: 330px;
}

.leafletPopUp {
    width: 370px;
}

.toolsPanel {
    display: flex;
    flex-direction: column;
}

.gpsWatcherControl {
    width: 75px;
    height: 50px;
    background-image: url('../assets/gpscontrol.png');
    position: relative;
    margin-top: 5px;
    cursor: pointer;
}
.gpsWatcherSelector {
    width: 15px;
    height: 15px;
    background-image: url('../assets/circle.png');
    position: absolute;
    top: 31px;
    left: 5px;
}
