.red {
    color: red;
}
.leafletMap {
    height: 100%;
}


#top {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#map {
    flex: 1;
}
#disqus_thread {
    padding: 5px;
    width: 30%;
    overflow: hidden;
}

.mile-stone {
    background-color: transparent;
    color: black;
    font-size: 1.2em;
    border-left: 1px solid black;
}

.kml-button {
    position: absolute;
    background-color: bisque;
    width: 2rem;
    height: 1rem;
    left: 50%;
    top: 0;
    z-index: 700;
    cursor: pointer;
}