// DON'T MODIFY THIS FILE, IT IS GENERATED AUTOMATICALLY

@import 'sizes';

.i.s0 {
  background-image: url('./icons.png');

  // anchorpier
  &.i0 {
    background-position: 0 0;
  }

  // arch
  &.i1 {
    background-position: -37px 0;
  }

  // beach_icon
  &.i2 {
    background-position: 0 -37px;
  }

  // bigcity
  &.i3 {
    background-position: -37px -37px;
  }

  // birds-2
  &.i4 {
    background-position: -74px 0;
  }

  // bridge_modern
  &.i5 {
    background-position: -74px -37px;
  }

  // bridge_old
  &.i6 {
    background-position: 0 -74px;
  }

  // carwash
  &.i7 {
    background-position: -37px -74px;
  }

  // castle-2
  &.i8 {
    background-position: -74px -74px;
  }

  // cave-2
  &.i9 {
    background-position: -111px 0;
  }

  // chirch
  &.i10 {
    background-position: -111px -37px;
  }

  // citywalls
  &.i11 {
    background-position: -111px -74px;
  }

  // coffee
  &.i12 {
    background-position: 0 -111px;
  }

  // country
  &.i13 {
    background-position: -37px -111px;
  }

  // desert
  &.i14 {
    background-position: -74px -111px;
  }

  // fillingstation
  &.i15 {
    background-position: -111px -111px;
  }

  // fjord-2
  &.i16 {
    background-position: -148px 0;
  }

  // forest2
  &.i17 {
    background-position: -148px -37px;
  }

  // geyser-2
  &.i18 {
    background-position: -148px -74px;
  }

  // hostel_0star
  &.i19 {
    background-position: -148px -111px;
  }

  // information
  &.i20 {
    background-position: 0 -148px;
  }

  // junction
  &.i21 {
    background-position: -37px -148px;
  }

  // lake
  &.i22 {
    background-position: -74px -148px;
  }

  // landmark
  &.i23 {
    background-position: -111px -148px;
  }

  // lighthouse-2
  &.i24 {
    background-position: -148px -148px;
  }

  // lodging-2
  &.i25 {
    background-position: -185px 0;
  }

  // market
  &.i26 {
    background-position: -185px -37px;
  }

  // monument
  &.i27 {
    background-position: -185px -74px;
  }

  // mountains
  &.i28 {
    background-position: -185px -111px;
  }

  // museum
  &.i29 {
    background-position: -185px -148px;
  }

  // ne_barn-2
  &.i30 {
    background-position: 0 -185px;
  }

  // office-building
  &.i31 {
    background-position: -37px -185px;
  }

  // pagoda-2
  &.i32 {
    background-position: -74px -185px;
  }

  // park
  &.i33 {
    background-position: -111px -185px;
  }

  // parkinggarage
  &.i34 {
    background-position: -148px -185px;
  }

  // prayer
  &.i35 {
    background-position: -185px -185px;
  }

  // pyramid
  &.i36 {
    background-position: -222px 0;
  }

  // restaurant_fish
  &.i37 {
    background-position: -222px -37px;
  }

  // river-2
  &.i38 {
    background-position: -222px -74px;
  }

  // road
  &.i39 {
    background-position: -222px -111px;
  }

  // rockhouse
  &.i40 {
    background-position: -222px -148px;
  }

  // ruins-2
  &.i41 {
    background-position: -222px -185px;
  }

  // smallcity
  &.i42 {
    background-position: 0 -222px;
  }

  // statue-2
  &.i43 {
    background-position: -37px -222px;
  }

  // tollstation
  &.i44 {
    background-position: -74px -222px;
  }

  // tree
  &.i45 {
    background-position: -111px -222px;
  }

  // villa
  &.i46 {
    background-position: -148px -222px;
  }

  // vineyard-2
  &.i47 {
    background-position: -185px -222px;
  }

  // volcano-2
  &.i48 {
    background-position: -222px -222px;
  }

  // water
  &.i49 {
    background-position: -259px 0;
  }

  // waterdrop
  &.i50 {
    background-position: -259px -37px;
  }

  // waterfall
  &.i51 {
    background-position: -259px -74px;
  }

  // waterwellpump
  &.i52 {
    background-position: -259px -111px;
  }

  // zoo
  &.i53 {
    background-position: -259px -148px;
  }
}
