// DON'T MODIFY THIS FILE, IT IS GENERATED AUTOMATICALLY

@import 'sizes';

.i.s0 {
  background-image: url('./icons.png');

  // campfire
  &.i0 {
    background-position: 0 0;
  }

  // camping-tent-green
  &.i1 {
    background-position: -56px 0;
  }

  // camping-tent
  &.i2 {
    background-position: 0 -56px;
  }

  // here
  &.i3 {
    background-position: -56px -56px;
  }

  // house-red
  &.i4 {
    background-position: -112px 0;
  }

  // house
  &.i5 {
    background-position: -112px -56px;
  }

  // info
  &.i6 {
    background-position: 0 -112px;
  }

  // information
  &.i7 {
    background-position: -168px -56px;
  }

  // marine-anchor
  &.i8 {
    background-position: -56px -112px;
  }

  // optometrist-eye
  &.i9 {
    background-position: -112px -112px;
  }

  // parking
  &.i10 {
    background-position: -168px 0;
  }
}
