// DON'T MODIFY THIS FILE, IT IS GENERATED AUTOMATICALLY

@import 'sizes';

.i.s0 {
  background-image: url('./icons.png');

  // barhan
  &.i0 {
    background-position: 0 0;
  }

  // camping
  &.i1 {
    background-position: -56px 0;
  }

  // canyon
  &.i2 {
    background-position: 0 -56px;
  }

  // cave
  &.i3 {
    background-position: -56px -56px;
  }

  // cheb
  &.i4 {
    background-position: -112px 0;
  }

  // flag-orange
  &.i5 {
    background-position: -224px 0;
  }

  // flag
  &.i6 {
    background-position: -224px -32px;
  }

  // food
  &.i7 {
    background-position: -112px -168px;
  }

  // fuel
  &.i8 {
    background-position: -166px -168px;
  }

  // geyser
  &.i9 {
    background-position: -112px -56px;
  }

  // information
  &.i10 {
    background-position: 0 -112px;
  }

  // lake
  &.i11 {
    background-position: -56px -112px;
  }

  // mount
  &.i12 {
    background-position: -112px -112px;
  }

  // road_sand
  &.i13 {
    background-position: -168px 0;
  }

  // see
  &.i14 {
    background-position: -168px -56px;
  }

  // town
  &.i15 {
    background-position: -168px -112px;
  }

  // tree
  &.i16 {
    background-position: 0 -168px;
  }

  // vulkan
  &.i17 {
    background-position: -56px -168px;
  }
}
