// DON'T MODIFY THIS FILE, IT IS GENERATED AUTOMATICALLY

@import 'sizes';

.i.s1 {
  background-image: url('./nature.png');

  // algae
  &.i0 {
    background-position: -37px 0;
  }

  // alligator
  &.i1 {
    background-position: -148px -259px;
  }

  // anchorpier
  &.i2 {
    background-position: 0 -37px;
  }

  // anemometer_mono
  &.i3 {
    background-position: -37px -37px;
  }

  // animal-shelter-export
  &.i4 {
    background-position: -74px 0;
  }

  // ant-export
  &.i5 {
    background-position: -74px -37px;
  }

  // apple
  &.i6 {
    background-position: 0 -74px;
  }

  // arbol
  &.i7 {
    background-position: -37px -74px;
  }

  // bats
  &.i8 {
    background-position: -74px -74px;
  }

  // beach_icon
  &.i9 {
    background-position: -111px 0;
  }

  // bear
  &.i10 {
    background-position: -111px -37px;
  }

  // beautifulview
  &.i11 {
    background-position: -111px -74px;
  }

  // bee
  &.i12 {
    background-position: 0 -111px;
  }

  // birds-2
  &.i13 {
    background-position: -37px -111px;
  }

  // blackcock1
  &.i14 {
    background-position: -74px -111px;
  }

  // butterfly-2
  &.i15 {
    background-position: -111px -111px;
  }

  // canyon-2
  &.i16 {
    background-position: -148px 0;
  }

  // cat-2
  &.i17 {
    background-position: -148px -37px;
  }

  // cheese
  &.i18 {
    background-position: -148px -74px;
  }

  // chicken-2
  &.i19 {
    background-position: -148px -111px;
  }

  // cloudy
  &.i20 {
    background-position: 0 -148px;
  }

  // cloudysunny
  &.i21 {
    background-position: -37px -148px;
  }

  // compost
  &.i22 {
    background-position: -74px -148px;
  }

  // corn
  &.i23 {
    background-position: -111px -148px;
  }

  // corral
  &.i24 {
    background-position: -148px -148px;
  }

  // cow-export
  &.i25 {
    background-position: -185px 0;
  }

  // cropcircles
  &.i26 {
    background-position: -185px -37px;
  }

  // crow
  &.i27 {
    background-position: -185px -74px;
  }

  // crow2
  &.i28 {
    background-position: -185px -111px;
  }

  // dachs
  &.i29 {
    background-position: -185px -148px;
  }

  // deer
  &.i30 {
    background-position: 0 -185px;
  }

  // desert-2
  &.i31 {
    background-position: -37px -185px;
  }

  // desert-3
  &.i32 {
    background-position: -74px -185px;
  }

  // dolphins
  &.i33 {
    background-position: -111px -185px;
  }

  // dragon
  &.i34 {
    background-position: -148px -185px;
  }

  // drinkingwater
  &.i35 {
    background-position: -185px -185px;
  }

  // duck-export
  &.i36 {
    background-position: -222px 0;
  }

  // eggs
  &.i37 {
    background-position: -222px -37px;
  }

  // elephants
  &.i38 {
    background-position: -222px -74px;
  }

  // emu
  &.i39 {
    background-position: -222px -111px;
  }

  // farm-2
  &.i40 {
    background-position: -222px -148px;
  }

  // farmstand
  &.i41 {
    background-position: -222px -185px;
  }

  // field
  &.i42 {
    background-position: 0 -222px;
  }

  // fjord-2
  &.i43 {
    background-position: -37px -222px;
  }

  // forest2
  &.i44 {
    background-position: -74px -222px;
  }

  // fossils
  &.i45 {
    background-position: -111px -222px;
  }

  // fox1
  &.i46 {
    background-position: -148px -222px;
  }

  // frog-2
  &.i47 {
    background-position: -185px -222px;
  }

  // fruits
  &.i48 {
    background-position: -222px -222px;
  }

  // garden
  &.i49 {
    background-position: -259px 0;
  }

  // geyser-2
  &.i50 {
    background-position: -259px -37px;
  }

  // giraffe
  &.i51 {
    background-position: -259px -74px;
  }

  // glacier-2
  &.i52 {
    background-position: -259px -111px;
  }

  // grass
  &.i53 {
    background-position: -259px -148px;
  }

  // hare1
  &.i54 {
    background-position: -259px -185px;
  }

  // haybale
  &.i55 {
    background-position: -259px -222px;
  }

  // hill
  &.i56 {
    background-position: 0 -259px;
  }

  // honeycomb
  &.i57 {
    background-position: -37px -259px;
  }

  // hotspring
  &.i58 {
    background-position: -74px -259px;
  }

  // iboga
  &.i59 {
    background-position: -111px -259px;
  }

  // icon
  &.i60 {
    background-position: 0 0;
  }

  // kangaroo2
  &.i61 {
    background-position: -185px -259px;
  }

  // lake
  &.i62 {
    background-position: -222px -259px;
  }

  // lawncareicon
  &.i63 {
    background-position: -259px -259px;
  }

  // leopard_snow
  &.i64 {
    background-position: -296px 0;
  }

  // lobster-export
  &.i65 {
    background-position: -296px -37px;
  }

  // manatee
  &.i66 {
    background-position: -296px -74px;
  }

  // monkey-export
  &.i67 {
    background-position: -296px -111px;
  }

  // moonstar
  &.i68 {
    background-position: -296px -148px;
  }

  // moose
  &.i69 {
    background-position: -296px -185px;
  }

  // mosquito-2
  &.i70 {
    background-position: -296px -222px;
  }

  // mountain-pass-locator-diagonal-reverse-export
  &.i71 {
    background-position: -296px -259px;
  }

  // mountains
  &.i72 {
    background-position: 0 -296px;
  }

  // mushroom
  &.i73 {
    background-position: -37px -296px;
  }

  // oyster-3
  &.i74 {
    background-position: -74px -296px;
  }

  // penguin-2
  &.i75 {
    background-position: -111px -296px;
  }

  // pets
  &.i76 {
    background-position: -148px -296px;
  }

  // peyote
  &.i77 {
    background-position: -185px -296px;
  }

  // pig
  &.i78 {
    background-position: -222px -296px;
  }

  // quadrifoglio
  &.i79 {
    background-position: -259px -296px;
  }

  // rainy
  &.i80 {
    background-position: -296px -296px;
  }

  // recycle
  &.i81 {
    background-position: -333px 0;
  }

  // rice
  &.i82 {
    background-position: -333px -37px;
  }

  // riparianhabitat
  &.i83 {
    background-position: -333px -74px;
  }

  // river-2
  &.i84 {
    background-position: -333px -111px;
  }

  // rodent
  &.i85 {
    background-position: -333px -148px;
  }

  // seals
  &.i86 {
    background-position: -333px -185px;
  }

  // shark-export
  &.i87 {
    background-position: -333px -222px;
  }

  // shore-2
  &.i88 {
    background-position: -333px -259px;
  }

  // snail
  &.i89 {
    background-position: -333px -296px;
  }

  // snakes
  &.i90 {
    background-position: 0 -333px;
  }

  // snowy-2
  &.i91 {
    background-position: -37px -333px;
  }

  // soil-boring-icon
  &.i92 {
    background-position: -74px -333px;
  }

  // spider
  &.i93 {
    background-position: -111px -333px;
  }

  // sugar-shack
  &.i94 {
    background-position: -148px -333px;
  }

  // sunny
  &.i95 {
    background-position: -185px -333px;
  }

  // sunsetland
  &.i96 {
    background-position: -222px -333px;
  }

  // thunderstorm
  &.i97 {
    background-position: -259px -333px;
  }

  // tiger-2
  &.i98 {
    background-position: -296px -333px;
  }

  // tornado-2
  &.i99 {
    background-position: -333px -333px;
  }

  // tree
  &.i100 {
    background-position: -370px 0;
  }

  // turtle-2
  &.i101 {
    background-position: -370px -37px;
  }

  // u-pick_stand
  &.i102 {
    background-position: -370px -74px;
  }

  // umbrella-2
  &.i103 {
    background-position: -370px -111px;
  }

  // veterinary
  &.i104 {
    background-position: -370px -148px;
  }

  // vineyard-2
  &.i105 {
    background-position: -370px -185px;
  }

  // volcano-2
  &.i106 {
    background-position: -370px -222px;
  }

  // water
  &.i107 {
    background-position: -370px -259px;
  }

  // waterdrop
  &.i108 {
    background-position: -370px -296px;
  }

  // waterfall-2
  &.i109 {
    background-position: -370px -333px;
  }

  // watermill-2
  &.i110 {
    background-position: 0 -370px;
  }

  // waterwell
  &.i111 {
    background-position: -37px -370px;
  }

  // waterwellpump
  &.i112 {
    background-position: -74px -370px;
  }

  // wetlands
  &.i113 {
    background-position: -111px -370px;
  }

  // whale-2
  &.i114 {
    background-position: -148px -370px;
  }

  // wildlifecrossing
  &.i115 {
    background-position: -185px -370px;
  }

  // wind-2
  &.i116 {
    background-position: -222px -370px;
  }

  // windmill-2
  &.i117 {
    background-position: -259px -370px;
  }

  // woodshed
  &.i118 {
    background-position: -296px -370px;
  }

  // zoo
  &.i119 {
    background-position: -333px -370px;
  }
}
