// DON'T MODIFY THIS FILE, IT IS GENERATED AUTOMATICALLY

@import 'sizes';

.i.s0 {
  background-image: url('./tourism.png');

  // agritourism
  &.i0 {
    background-position: -37px 0;
  }

  // amphitheater-2
  &.i1 {
    background-position: -148px -222px;
  }

  // arch
  &.i2 {
    background-position: 0 -37px;
  }

  // bigcity
  &.i3 {
    background-position: -37px -37px;
  }

  // bouddha
  &.i4 {
    background-position: -74px 0;
  }

  // bridge_modern
  &.i5 {
    background-position: -74px -37px;
  }

  // bridge_old
  &.i6 {
    background-position: 0 -74px;
  }

  // bustour
  &.i7 {
    background-position: -37px -74px;
  }

  // cabin-2
  &.i8 {
    background-position: -74px -74px;
  }

  // campfire-2
  &.i9 {
    background-position: -111px 0;
  }

  // campingcar
  &.i10 {
    background-position: -111px -37px;
  }

  // castle-2
  &.i11 {
    background-position: -111px -74px;
  }

  // cathedral
  &.i12 {
    background-position: 0 -111px;
  }

  // catholicgrave
  &.i13 {
    background-position: -37px -111px;
  }

  // cave-2
  &.i14 {
    background-position: -74px -111px;
  }

  // cemetary
  &.i15 {
    background-position: -111px -111px;
  }

  // chapel-2
  &.i16 {
    background-position: -148px 0;
  }

  // church-2
  &.i17 {
    background-position: -148px -37px;
  }

  // citysquare
  &.i18 {
    background-position: -148px -74px;
  }

  // citywalls
  &.i19 {
    background-position: -148px -111px;
  }

  // clock
  &.i20 {
    background-position: 0 -148px;
  }

  // convent-2
  &.i21 {
    background-position: -37px -148px;
  }

  // country
  &.i22 {
    background-position: -74px -148px;
  }

  // crematorium
  &.i23 {
    background-position: -111px -148px;
  }

  // cromlech
  &.i24 {
    background-position: -148px -148px;
  }

  // cross-2
  &.i25 {
    background-position: -185px 0;
  }

  // cruiseship
  &.i26 {
    background-position: -185px -37px;
  }

  // dogs_leash
  &.i27 {
    background-position: -185px -74px;
  }

  // flag-export
  &.i28 {
    background-position: -185px -111px;
  }

  // footprint
  &.i29 {
    background-position: -185px -148px;
  }

  // ford-2
  &.i30 {
    background-position: 0 -185px;
  }

  // forest
  &.i31 {
    background-position: -37px -185px;
  }

  // fountain-3
  &.i32 {
    background-position: -74px -185px;
  }

  // ghosttown
  &.i33 {
    background-position: -111px -185px;
  }

  // gondola-2
  &.i34 {
    background-position: -148px -185px;
  }

  // headstone-2
  &.i35 {
    background-position: -185px -185px;
  }

  // historicalquarter
  &.i36 {
    background-position: -222px 0;
  }

  // horse-drawn_carriage
  &.i37 {
    background-position: -222px -37px;
  }

  // hut
  &.i38 {
    background-position: -222px -74px;
  }

  // icon-sevilla
  &.i39 {
    background-position: -222px -111px;
  }

  // information
  &.i40 {
    background-position: -222px -148px;
  }

  // japanese-lantern
  &.i41 {
    background-position: -222px -185px;
  }

  // japanese-temple
  &.i42 {
    background-position: 0 -222px;
  }

  // jewishgrave
  &.i43 {
    background-position: -37px -222px;
  }

  // jewishquarter
  &.i44 {
    background-position: -74px -222px;
  }

  // landmark
  &.i45 {
    background-position: -111px -222px;
  }

  // lifeguard-2
  &.i46 {
    background-position: 0 0;
  }

  // lighthouse-2
  &.i47 {
    background-position: -185px -222px;
  }

  // map
  &.i48 {
    background-position: -222px -222px;
  }

  // mapicon
  &.i49 {
    background-position: -259px 0;
  }

  // marina-2
  &.i50 {
    background-position: -259px -37px;
  }

  // megalith
  &.i51 {
    background-position: -259px -74px;
  }

  // memorial
  &.i52 {
    background-position: -259px -111px;
  }

  // modernmonument
  &.i53 {
    background-position: -259px -148px;
  }

  // moderntower
  &.i54 {
    background-position: -259px -185px;
  }

  // monument-historique-icon-white-22x22
  &.i55 {
    background-position: -259px -222px;
  }

  // monument
  &.i56 {
    background-position: 0 -259px;
  }

  // mosquee
  &.i57 {
    background-position: -37px -259px;
  }

  // ne_barn-2
  &.i58 {
    background-position: -74px -259px;
  }

  // notvisited
  &.i59 {
    background-position: -111px -259px;
  }

  // olympicsite
  &.i60 {
    background-position: -148px -259px;
  }

  // pagoda-2
  &.i61 {
    background-position: -185px -259px;
  }

  // palace-2
  &.i62 {
    background-position: -222px -259px;
  }

  // palm-tree-export
  &.i63 {
    background-position: -259px -259px;
  }

  // panoramicview
  &.i64 {
    background-position: -296px 0;
  }

  // petroglyphs-2
  &.i65 {
    background-position: -296px -37px;
  }

  // picnic-2
  &.i66 {
    background-position: -296px -74px;
  }

  // pin-export
  &.i67 {
    background-position: -296px -111px;
  }

  // pleasurepier
  &.i68 {
    background-position: -296px -148px;
  }

  // prayer
  &.i69 {
    background-position: -296px -185px;
  }

  // pyramid
  &.i70 {
    background-position: -296px -222px;
  }

  // regroup
  &.i71 {
    background-position: -296px -259px;
  }

  // rockhouse
  &.i72 {
    background-position: 0 -296px;
  }

  // ruins-2
  &.i73 {
    background-position: -37px -296px;
  }

  // shintoshrine
  &.i74 {
    background-position: -74px -296px;
  }

  // shower
  &.i75 {
    background-position: -111px -296px;
  }

  // sight-2
  &.i76 {
    background-position: -148px -296px;
  }

  // signpost-2
  &.i77 {
    background-position: -185px -296px;
  }

  // sikh
  &.i78 {
    background-position: -222px -296px;
  }

  // smallcity
  &.i79 {
    background-position: -259px -296px;
  }

  // st-margarets-cross-map-icon-22-x-22
  &.i80 {
    background-position: -296px -296px;
  }

  // star-3
  &.i81 {
    background-position: -333px 0;
  }

  // statue-2
  &.i82 {
    background-position: -333px -37px;
  }

  // synagogue-2
  &.i83 {
    background-position: -333px -74px;
  }

  // temple-2
  &.i84 {
    background-position: -333px -111px;
  }

  // templehindu
  &.i85 {
    background-position: -333px -148px;
  }

  // theravadapagoda
  &.i86 {
    background-position: -333px -185px;
  }

  // theravadatemple
  &.i87 {
    background-position: -333px -222px;
  }

  // tower
  &.i88 {
    background-position: -333px -259px;
  }

  // treasure_chest
  &.i89 {
    background-position: -333px -296px;
  }

  // world
  &.i90 {
    background-position: 0 -333px;
  }

  // you-are-here-2
  &.i91 {
    background-position: -37px -333px;
  }
}
